<%= render 'welcome/home' %>
<% byebug %>

<% if @employees.blank? %>
<p>There are not any employees currently in the system.</p>
<% else %>
<p>These are the current employees in our system</p>
<table id = "books" style= "border: 1px solid white">
<tr style= "border: 1px solid white">
<th style= "border: 1px solid white">Username</th>
<th style= "border: 1px solid white"></th>
<th style= "border: 1px solid white">Department</th>
<th style= "border: 1px solid white"></th>
<th style= "border: 1px solid white">Current Skills Of This Employees</th>
<th style= "border: 1px solid white">Employee Image</th>
</tr>
<% cache do %>
<div id="employees">
 <%= render @employees %>

</div>

<% end %>

</table>

<% end %>
<p><%= link_to "Create a New Employee", {:action => 'employees', :controller => 'employees' , :format => @user}%></p>


 
  <%= will_paginate @employees, :renderer => WillPaginate::ActionView::LinkRenderer%>

