<h1>Linkedin Application</h1>
<% byebug %>
<%= link_to 'Connect_to_linkedIn', linkedin_oauth_url_url(@emp) %>
<!-- <a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a> -->