// Place all the styles related to the manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
   /* fallback for old browsers */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
text-align:left !important;  
color:white;
 background-color:#0087be ;
  font-family: 'Martel';
}

label{
	display:block;
}