// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//https://gist.github.com/yokolet/2176753

body {
   /* fallback for old browsers */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-align : center !important; 
color:white;
 background-color:#0087be ;
  font-family: 'Martel';
}
